img{
    height: 100px;
    width: 100px;
}
.dashboard{
    height: 550px;
    width: 110px;
    border-style: groove;
    color: lightgrey;
    padding: 10px;
    float: left;
    
    
}
.selectDashboard{
    padding: 5px;
}
.workspace{
    
    float: left;
    height: 570px;
    width: 80%;
    border-style: groove;
    color: lightgrey;
    margin-left: 20px;
}
.toolbar{
    background-color: beige;
    padding: 10px;
}
button {
    background-color: white;
    border-radius: 5px;
}